<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key> 热门城市</key>
	<array>
		<string>北京,PEK,beijing,bj</string>
		<string>上海,SHA,shanghai,sh</string>
		<string>广州,CAN,guangzhou,sz</string>
		<string>深圳,SZX,shenzhen,sz</string>
		<string>成都,CTU,chengdu,cd</string>
		<string>杭州,HGH,hangzhou,hz</string>
		<string>武汉,WUH,wuhan,wh</string>
		<string>西安,SIA,xian,xa</string>
		<string>重庆,CKG,chongqing,cq</string>
		<string>青岛,TAO,qingdao,qd</string>
		<string>南京,NKG,nanjing,nj</string>
		<string>厦门,XMN,xiamen,xm</string>
		<string>大连,DLC,dalian,dl</string>
		<string>天津,TSN,tianjing,tj</string>
		<string>三亚,SYX,sanya,sy</string>
		<string>济南,TNA,jinan,jn</string>
		<string>沈阳,SHE,shenyang,sy</string>
		<string>苏州,SZV,suzhou,sz</string>
		<string>宁波,HGB,ningbo,nb</string>
	</array>
	<key>a</key>
	<array>
		<string>阿坝州,ABA,abazhou,abz</string>
		<string>阿城,ACH,acheng,ac</string>
		<string>阿克苏,AKU,akesu,Aaks</string>
		<string>阿拉善盟,ALS,alashanmeng,alsm</string>
		<string>阿勒泰,AAT,aletai,alt</string>
		<string>安吉,ANJ,anji,aj</string>
		<string>安康,AKA,ankang,ak</string>
		<string>安陆,ANL,anlu,al</string>
		<string>安庆,AQG,anqing,aq</string>
		<string>鞍山,AOG,anshan,as</string>
		<string>安顺,ANS,anshun,as</string>
		<string>安图,ANT,antu,at</string>
		<string>安阳,AYN,anyang,ay</string>
		<string>澳门,MFM,aomen,am</string>
		<string>阿图什,ATU,atushi,ats</string>
	</array>
	<key>b</key>
	<array>
		<string>白城,BAC,baicheng,bc</string>
		<string>百色,BSI,baise,bs</string>
		<string>白山,BAS,baishan,bs</string>
		<string>保定,BAD,baoding,bd</string>
		<string>宝鸡,BAJ,baoji,bj</string>
		<string>保山,BSD,baoshan,bs</string>
		<string>保亭,BUT,baoting,bt</string>
		<string>包头,BAV,baotou,bt</string>
		<string>巴彦淖尔,BYZ,bayazhouer,byze</string>
		<string>巴中,BAZ,bazhong,bz</string>
		<string>北安,BEA,beian,ba</string>
		<string>北戴河,BDH,beidaihe,bdh</string>
		<string>北海,BHY,beihai,bh</string>
		<string>北京,PEK,beijing,bj</string>
		<string>北宁,BEN,beining,bn</string>
		<string>蚌埠,BFU,bengbu,bb</string>
		<string>本溪,BEX,benxi,bx</string>
		<string>毕节,BIJ,bijie,bj</string>
		<string>滨州,BIZ,binzhou,bz</string>
		<string>博鳌,BOA,boao,ba</string>
		<string>博乐,BOL,bole,bl</string>
		<string>博兴,BOX,boxing,bx</string>
		<string>亳州,BOZ,bozhou,bz</string>
	</array>
	<key>c</key>
	<array>
		<string>沧州,CAZ,cangzhou,cz</string>
		<string>长春,CGQ,changchun,cc</string>
		<string>常德,CGD,changde,cd</string>
		<string>昌都,CDU,changdu,cd</string>
		<string>长葛,CGE,changge,cg</string>
		<string>昌吉,CHJ,changji,cg</string>
		<string>常宁,CHN,changning,cn</string>
		<string>长沙,CSX,changshan,cs</string>
		<string>常熟,CHS,changshu,cs</string>
		<string>长治,CIH,changzhi,cz</string>
		<string>常州,CZX,changzhou,cz</string>
		<string>巢湖,CHU,chaohu,ch</string>
		<string>朝阳,CHG,chaoyang,cy</string>
		<string>潮阳,CHY,chaoyang,cy</string>
		<string>潮州,CZH,chaozhou,cz</string>
		<string>承德,CHD,chengde,cd</string>
		<string>成都,CTU,chengdu,cd</string>
		<string>澄海,CHA,chenghai,ch</string>
		<string>郴州,CEZ,chenzhou,cz</string>
		<string>赤壁,CHB,chibi,cb</string>
		<string>赤峰,CIF,chifeng,cf</string>
		<string>池州,CZU,chizhou,cz</string>
		<string>重庆,CKG,chongqing,cq</string>
		<string>崇州,CHZ,chongzhou,cz</string>
		<string>崇左,CZS,chongzuo,cz</string>
		<string>楚雄,CHX,chuxiong,cx</string>
		<string>滁州,CUZ,chuzhou,cz</string>
		<string>慈溪,CIX,cixi,cx</string>
		<string>从化,COH,conghua,ch</string>
	</array>
	<key>d</key>
	<array>
		<string>大安,DAA,daan,da</string>
		<string>大丰,DAF,dafeng,df</string>
		<string>大理,DLU,dali,dl</string>
		<string>大连,DLC,dalian,dl</string>
		<string>丹东,DDG,dandong,dd</string>
		<string>当阳,DAY,dangyang,dy</string>
		<string>丹江口,DAJ,danjiangkou,djk</string>
		<string>丹阳,DYA,danyang,dy</string>
		<string>儋州,DAZ,danzhou,dz</string>
		<string>大庆,DAQ,daqing,dq</string>
		<string>大石桥,DSQ,dashiqiao,dsq</string>
		<string>大同,DAT,datong,dt</string>
		<string>大兴安岭,DAX,daxinganling,dxal</string>
		<string>大冶,DYE,daye,dy</string>
		<string>达州,DZH,dazhou,dz</string>
		<string>德令哈,DEL,delingha,dlh</string>
		<string>登封,DEF,dengfeng,df</string>
		<string>邓州,DEZ,dengzhou,dz</string>
		<string>德清,DEQ,deqing,dq</string>
		<string>德兴,DX,dexing,dx</string>
		<string>德阳,DEY,deyang,dy</string>
		<string>德州,DZO,dezhou,dz</string>
		<string>定安,DNA,dingan,da</string>
		<string>定西,DIX,dingxi,dx</string>
		<string>迪庆,DIG,diqing,dq</string>
		<string>迪庆州,DIQ,diqingzhou,dqz</string>
		<string>东莞,DGM,dongguan,dg</string>
		<string>东台,DOT,dongtai,dt</string>
		<string>东兴,DOX,dongxing,dx</string>
		<string>东阳,DYN,donguyang,dy</string>
		<string>东营,DOY,dongying,dy</string>
		<string>都江堰,DOJ,dujiangyan,djy</string>
		<string>敦化,DUH,dunhua,dh</string>
		<string>敦煌,DNH,dunhuang,dh</string>
		<string>都匀,DUJ,dujun,dj</string>
	</array>
	<key>e</key>
	<array>
		<string>鄂尔多斯,ERD,eerduosi,eeds</string>
		<string>峨眉山,EMS,emeishan,ems</string>
		<string>恩平,ENP,enping,ep</string>
		<string>恩施,ENH,enshi,es</string>
		<string>二连浩特,ERL,erlianhaote,elht</string>
		<string>鄂州,EZH,ezhou,ez</string>
	</array>
	<key>f</key>
	<array>
		<string>防城港,FAC,fangchenggang,fcg</string>
		<string>肥城,FCG,feicheng,fc</string>
		<string>丰城,FEC,fengcheng,fc</string>
		<string>奉化,FEH,fenghua,fh</string>
		<string>凤凰县,FHX,fenghuangxian,fhx</string>
		<string>佛山,FUO,fushan,fs</string>
		<string>福安,FUA,fuan,fa</string>
		<string>福鼎,FUD,fuding,fd</string>
		<string>阜康,FUK,fukang,fk</string>
		<string>福清,FUQ,fuqing,fq</string>
		<string>抚顺,FUS,fushun,fs</string>
		<string>阜新,FUX,fuxin,fx</string>
		<string>富阳,FUY,fuyang,fy</string>
		<string>福州,FOC,fuzhou,fz</string>
		<string>抚州,FUZ,fuzhou,fz</string>
	</array>
	<key>g</key>
	<array>
		<string>赣州,GZH,ganzhou,gz</string>
		<string>甘孜州,GAZ,ganzizhou,gzz</string>
		<string>藁城,GAC,gaocheng,gc</string>
		<string>高明,GAM,gaoming,gm</string>
		<string>高邮,GAY,gaoyou,gy</string>
		<string>格尔木,GOQ,geermu,gem</string>
		<string>个旧,GEJ,gejiu,gj</string>
		<string>巩义,GOY,gongyi,gy</string>
		<string>广安,GUA,guangan,ga</string>
		<string>广汉,GHN,guanghan,gh</string>
		<string>广水,GUS,guangshui,gs</string>
		<string>广元,GUY,guangyuan,gy</string>
		<string>广州,CAN,guangzhou,gz</string>
		<string>贵港,GUG,guigang,gg</string>
		<string>桂林,KWL,guizhou,gz</string>
		<string>桂平,GUP,guiping,gp</string>
		<string>贵溪,GUX,guixi,gx</string>
		<string>贵阳,KWE,guiyang,gy</string>
	</array>
	<key>h</key>
	<array>
		<string>哈尔滨,HRB,hanerbin,heb</string>
		<string>海安,HAA,haian,ha</string>
		<string>海城,LHC,haicheng,hc</string>
		<string>海东,HAD,haidong,hd</string>
		<string>海口,HAK,haikou,hk</string>
		<string>海林,HAL,hailin,hl</string>
		<string>海螺沟,HLG,hailuogou,hlg</string>
		<string>海门,HAM,haimen,hm</string>
		<string>海南州,HAN,haoinanzhou,hnz</string>
		<string>海宁,HAI,haining,hn</string>
		<string>海盐,HAY,haiyan,hy</string>
		<string>海阳,HIY,haiyang,hy</string>
		<string>哈密,HMI,hami,hm</string>
		<string>韩城,HAC,hancheng,hc</string>
		<string>汉川,HCH,hanchuan,hc</string>
		<string>邯郸,HDN,handan,hd</string>
		<string>杭州,HGH,hangzhou,hz</string>
		<string>汉中,HZG,hanzhong,hz</string>
		<string>鹤壁,HEB,hebi,hb</string>
		<string>河池,HEC,hechi,hc</string>
		<string>合肥,HFE,hefei,hf</string>
		<string>鹤岗,HEG,hegang,hg</string>
		<string>黑河,HEK,heihe,hh</string>
		<string>横店,HDA,hengdian,hd</string>
		<string>衡水,HSU,hengshui,hs</string>
		<string>衡阳,HNY,hengyang,hy</string>
		<string>鹤山,HSH,heshan,hs</string>
		<string>和田,HTN,hetian,ht</string>
		<string>河源,HEY,heyuan,hy</string>
		<string>菏泽,HIZ,heze,hz</string>
		<string>贺州,HZH,hezhou,hz</string>
		<string>合作,HEZ,hezuo,hz</string>
		<string>洪湖,HOH,honghu,hh</string>
		<string>侯马,HOM,houma,hm</string>
		<string>华甸,HUD,huadian,hd</string>
		<string>花都,HDU,huadu,hd</string>
		<string>淮安,HUA,huaian,ha</string>
		<string>淮北,HUB,huaibei,hb</string>
		<string>怀化,HUH,huaihua,hh</string>
		<string>淮南,HUI,huainan,hn</string>
		<string>黄冈,HUG,hanggang,hg</string>
		<string>黄骅,HYE,huaye</string>
		<string>黄南州,HUN,huangnanzhou,hnz</string>
		<string>黄山,TXN,huangshan,hs</string>
		<string>黄石,HUS,huangshi,hs</string>
		<string>黄岩,HYN,huangyan,hy</string>
		<string>华阴,HYI,huayin,hy</string>
		<string>化州,HZU,huazhou,hz</string>
		<string>呼和浩特,HET,huhehaote,hhht</string>
		<string>晖春,HUC,huichun,hc</string>
		<string>惠阳,HYA,huiyang,hy</string>
		<string>惠州,HUZ,huizhou,hz</string>
		<string>虎林,HLI,hulin,hl</string>
		<string>葫芦岛,HLD,huludao,hld</string>
		<string>呼伦贝尔,HUL,hulunbeier,hlbe</string>
		<string>湖州,HZO,huzhou,hz</string>
	</array>
	<key>j</key>
	<array>
		<string>佳木斯,JMU,jiamusi,jms</string>
		<string>吉安,KNC,jian,ja</string>
		<string>集安,JIA,jian,ja</string>
		<string>建德,JID,jiande,jd</string>
		<string>江都,JDU,jiangdu,jd</string>
		<string>江门,JIM,jiangmen,jm</string>
		<string>江山,JSA,jiangshan,js</string>
		<string>姜堰,JAN,jiangyan,jy</string>
		<string>江阴,JIY,jiangyin,jy</string>
		<string>江油,JYO,jiangyou,jy</string>
		<string>建瓯,JIO,jianou,jo</string>
		<string>建水,JSI,jianshui,js</string>
		<string>建阳,JYG,jianyang,jy</string>
		<string>蛟河,JHE,jiaohe,jh</string>
		<string>胶南,JON,jiaonan,jn</string>
		<string>胶州,JIZ,jiaozhou,jz</string>
		<string>焦作,JZU,jiaozuo,jz</string>
		<string>嘉善,JAS,jiashan,js</string>
		<string>嘉兴,JIX,jiaxing,jx</string>
		<string>嘉峪关,JGN,jiayuguan,jyg</string>
		<string>嘉鱼县,JYX,jiayuxian,jyx</string>
		<string>界首,JIS,jieshou,js</string>
		<string>揭阳,JYN,jieyang,jy</string>
		<string>吉林,JIL,jilin,jl</string>
		<string>即墨,JMO,jimo,jm</string>
		<string>济南,TNA,jinan,jn</string>
		<string>金昌,JCH,jinchang,jc</string>
		<string>晋城,JIC,jincheng,jc</string>
		<string>景德镇,JDZ,jingdezhen,jdz</string>
		<string>井冈山,JGS,jinggangshan,jgs</string>
		<string>景洪,JIH,jinghong,jh</string>
		<string>靖江,JIJ,jingjiang,jj</string>
		<string>荆门,JMN,jinmen,jm</string>
		<string>荆州,JZG,jinzhou,jz</string>
		<string>金华,JHA,jinhua,jh</string>
		<string>集宁,JIN,jining,jn</string>
		<string>济宁,JNG,jining,jn</string>
		<string>晋江,JJN,jinjiang,jj</string>
		<string>金坛,JIT,jintan,jt</string>
		<string>缙云,JYU,jinyun,jy</string>
		<string>晋中,JZO,jinzhong,jz</string>
		<string>锦州,JNZ,jinzhou,jz</string>
		<string>吉首,JSH,jishou,js</string>
		<string>九华山,JHS,jiuhuashan,jhs</string>
		<string>九江,JIU,jiujiang,jj</string>
		<string>酒泉,CHW,jiuquan,jq</string>
		<string>九寨沟,JZH,jiuzhaigou,jzg</string>
		<string>鸡西,JXI,jixi,jx</string>
		<string>蓟县,AAC,jixian,jx</string>
		<string>济源,JYA,jiyuan,jy</string>
		<string>句容,JUR,jurong,jr</string>
	</array>
	<key>k</key>
	<array>
		<string>开封,KAF,kaifeng,kf</string>
		<string>凯里,KAL,kaili,kl</string>
		<string>开平,KAP,kaiping,kp</string>
		<string>开远,KAY,kaiyuan,ky</string>
		<string>开原,KYA,kaiyuan,ky</string>
		<string>喀纳斯,KNS,kenasi,kns</string>
		<string>喀什,KHG,kashi,ks</string>
		<string>克拉玛依,KLY,kelamayi,klmy</string>
		<string>库尔勒,KRL,kuerle,kll</string>
		<string>奎屯,KUT,kuitun,kt</string>
		<string>昆明,KMG,kunming,km</string>
		<string>昆山,KUS,kunshan,ks</string>
	</array>
	<key>l</key>
	<array>
		<string>来宾,BEL,laibin,lb</string>
		<string>莱芜,LAW,laiwu,lw</string>
		<string>莱西,LXI,laixi,lx</string>
		<string>莱阳,LAY,laiyang,ly</string>
		<string>莱州,LZU,laizhou,lz</string>
		<string>廊坊,LAF,langfang,lf</string>
		<string>阆中,LAZ,langzhong,lz</string>
		<string>兰溪,LAX,lanxi,lx</string>
		<string>兰州,LHW,lanzhou,lz</string>
		<string>老河口,LAH,laohekou,lhk</string>
		<string>拉萨,LXA,lasa,ls</string>
		<string>乐昌,LEC,lechang,lc</string>
		<string>耒阳,LYX,liyang,ly</string>
		<string>雷州,LEZ,leizhou,lz</string>
		<string>冷水江,LES,lengshuijiang,lsj</string>
		<string>乐清,LEQ,leqing,lq</string>
		<string>乐山,LSA,leshan,ls</string>
		<string>连城,LIC,liancheng,lc</string>
		<string>涟源,LYU,lianyuan,ly</string>
		<string>连云港,LYG,lianyungang,lyg</string>
		<string>连州,LHO,lianzhou,lz</string>
		<string>聊城,LCN,liaocheng,lc</string>
		<string>辽阳,LIY,liaoyang,ly</string>
		<string>辽源,LIU,liaoyuan,ly</string>
		<string>丽江,LJG,lijiang,lj</string>
		<string>临安,LIA,linan,la</string>
		<string>临沧,LCH,lincang,lc</string>
		<string>临汾,LIF,linfen,lf</string>
		<string>灵宝,LIB,lingbao,lb</string>
		<string>凌海,LIH,linghai,lh</string>
		<string>陵水,LSX,lingshui,ls</string>
		<string>临海,LHA,linhai,lh</string>
		<string>临江,LJN,linjiang,lj</string>
		<string>临夏,LIX,linxia,lx</string>
		<string>临沂,LYI,linyi,ly</string>
		<string>林芝,LZI,linzhi,lz</string>
		<string>林州,LZN,linzhou,lz</string>
		<string>离石,LSH,lishi,ls</string>
		<string>丽水,LIS,lishui,ls</string>
		<string>六安,LAN,liuan,la</string>
		<string>六盘水,LIP,liupanshui,lps</string>
		<string>柳州,LZH,liuzhou,lz</string>
		<string>溧阳,LYN,liyang,ly</string>
		<string>龙井,LOJ,longjing,lj</string>
		<string>龙口,LOK,longkou,lk</string>
		<string>龙泉,LOQ,longquan,lq</string>
		<string>龙岩,LOY,longyan,ly</string>
		<string>龙游,LYO,longyou,ly</string>
		<string>娄底,LOD,loudi,ld</string>
		<string>陆丰,LUF,lufeng,lf</string>
		<string>罗定,LUD,luding,lu</string>
		<string>漯河,LUH,luohe,lh</string>
		<string>洛阳,LYA,luoyang,ly</string>
		<string>浏阳,LUY,liuyang,ly</string>
		<string>庐山,LUZ,lushan,ls</string>
		<string>潞西,LUX,luxi,lx</string>
		<string>泸州,LZO,luzhou,lz</string>
		<string>吕梁,LVL,lvliang,ll</string>
	</array>
	<key>m</key>
	<array>
		<string>马鞍山,MAA,maanshan,mas</string>
		<string>麻城,MAC,macheng,mc</string>
		<string>芒市,MSH,mangshi,ms</string>
		<string>满洲里,MAZ,manzhouli,mzl</string>
		<string>茂名,MAM,maoming,mm</string>
		<string>梅河口,MEH,meihe,mh</string>
		<string>眉山,MES,meishan,ms</string>
		<string>梅州,MZU,meizhou,mz</string>
		<string>孟州,MEZ,mengzhou,mz</string>
		<string>绵阳,MIG,mianyuang,my</string>
		<string>绵竹,MIZ,mianzhu,mz</string>
		<string>米泉,MIQ,miquan,mq</string>
		<string>密山,MIS,mishan,ms</string>
		<string>牡丹江,MDG,mudanjiang,mdj</string>
	</array>
	<key>n</key>
	<array>
		<string>南安,NAA,nanan,na</string>
		<string>南昌,KHN,nanchang,nc</string>
		<string>南充,NAO,nanchong,nc</string>
		<string>南戴河,NDH,nandaihe,ndh</string>
		<string>南海,NAH,nanhai,nh</string>
		<string>南京,NKG,nanjing,nj</string>
		<string>南宁,NNG,nanning,nn</string>
		<string>南平,NAP,nanping,np</string>
		<string>南通,NTG,nantong,nt</string>
		<string>南雄,NAX,nanxiong,nx</string>
		<string>南阳,NNY,nanyang,ny</string>
		<string>那曲,NAQ,naqu,nq</string>
		<string>内江,NEJ,neijiang,nj</string>
		<string>宁安,NIA,neian,na</string>
		<string>宁波,NGB,ningbo,nb</string>
		<string>宁德,NID,ningde,nd</string>
		<string>宁国,NIG,ningguo,ng</string>
		<string>宁海,NHX,ninghai,nh</string>
		<string>怒江傈僳族自治州,NUJ,nujianglisuzuzizhizhou,njlszzzz</string>
	</array>
	<key>p</key>
	<array>
		<string>盘锦,PAJ,panjin,pj</string>
		<string>番禺,PAY,panyu,py</string>
		<string>攀枝花,PZI,panzhihua,pzh</string>
		<string>蓬莱,PEL,penglai,pl</string>
		<string>彭州,PEZ,pengzhou,pz</string>
		<string>平顶山,PDS,pingdingshan,pds</string>
		<string>平度,PID,pingdu,pd</string>
		<string>平湖,PIH,pinghu,ph</string>
		<string>平凉,PIL,pingliang,pl</string>
		<string>萍乡,PIX,pingxiang,px</string>
		<string>平遥,PYO,pingyao,py</string>
		<string>邳州,PIZ,peizhou,pz</string>
		<string>普洱,SYM,puer,pe</string>
		<string>浦江,PUJ,pujiang,pj</string>
		<string>普宁,PUN,puning,pn</string>
		<string>莆田,PUT,putian,pt</string>
		<string>濮阳,PUY,puyang,py</string>
	</array>
	<key>q</key>
	<array>
		<string>千岛湖,QIH,qiandaohu,qdh</string>
		<string>潜江,QIJ,qianjiang,qj</string>
		<string>启东,QID,qidong,qd</string>
		<string>青岛,TAO,qingdao,qd</string>
		<string>庆阳,QIY,qingyang,qy</string>
		<string>清远,QYN,qingyuan,qy</string>
		<string>青州,QIZ,qingzhou,qz</string>
		<string>秦皇岛,SHP,qinhuangdao,qhd</string>
		<string>沁阳,QYA,qinyang,qy</string>
		<string>钦州,QZO,qinzhou,qz</string>
		<string>琼海,QHA,qionghai,qh</string>
		<string>邛崃,QIL,qionglai,ql</string>
		<string>齐齐哈尔,NDG,qiqihaer,qqhe</string>
		<string>七台河,QIT,qitaihe,qth</string>
		<string>泉州,QUZ,quanzhou,qz</string>
		<string>曲阜,QUF,qufu,qf</string>
		<string>曲靖,QUJ,qujing,qj</string>
		<string>衢州,JUZ,quzhou,qz</string>
	</array>
	<key>r</key>
	<array>
		<string>仁怀,REH,renhuai,rh</string>
		<string>任丘,REQ,renqiu,rq</string>
		<string>日喀则,RIK,rikeze,rkz</string>
		<string>日照,RIZ,rizhou,rz</string>
		<string>荣成,ROC,rongcheng,rc</string>
		<string>如东,RUD,rudong,rd</string>
		<string>如皋,RUG,rugao,rg</string>
		<string>瑞安,RUA,ruian,ra</string>
		<string>瑞丽,RUL,ruili,rl</string>
		<string>乳山,RUS,rushan,rs</string>
		<string>汝州,RUZ,ruzhou,rz</string>
	</array>
	<key>s</key>
	<array>
		<string>三门峡,SAM,sanmenxia,smx</string>
		<string>三明,SMI,sanming,sm</string>
		<string>三水,SAS,sanshui,ss</string>
		<string>三亚,SYX,sanya,sy</string>
		<string>上海,SHA,shanghai,sh</string>
		<string>商洛,SHL,shangluo,sl</string>
		<string>商丘,SHQ,shangqiu,sq</string>
		<string>上饶,SHR,shangrao,sr</string>
		<string>上虞,SYU,shangyu,sy</string>
		<string>尚志,SZI,shangzhi,sz</string>
		<string>山南,SHN,shangnan,sn</string>
		<string>汕头,SWA,shantou,sy</string>
		<string>汕尾,SHW,shanwei,sw</string>
		<string>韶关,HSC,shaoguan,sg</string>
		<string>韶山,SHS,shaoshan,ss</string>
		<string>邵武,SWU,shaowu,sw</string>
		<string>绍兴,SHX,shaoxing,sx</string>
		<string>邵阳,SYG,shaoyang,sy</string>
		<string>嵊州,SZU,shengzhou,sz</string>
		<string>神农架林区,SNJ,shennongjia,snj</string>
		<string>沈阳,SHE,shenyang,sy</string>
		<string>深圳,SZX,shengzhen,sz</string>
		<string>石河子,SHH,shihezi,shz</string>
		<string>石家庄,SJW,shijiahzhuang,sjz</string>
		<string>石狮,SHI,shishi,ss</string>
		<string>石首,SSH,shishou,ss</string>
		<string>十堰,SYA,shiyang,sy</string>
		<string>寿光,SHG,shouguang,sg</string>
		<string>双鸭山,SHY,shuangyashan,sys</string>
		<string>舒兰,SLA,shulan,sl</string>
		<string>顺德,SHD,shunde,sd</string>
		<string>朔州,SHZ,shuozhou,sz</string>
		<string>泗洪,ZHG,sihong,sh</string>
		<string>四会,SIH,sihui,sihui</string>
		<string>四平,SIP,siping,sp</string>
		<string>泗阳,SYS,siyang,sy</string>
		<string>松原,SOY,songyuan,sy</string>
		<string>松滋,SOH,songzi,sz</string>
		<string>绥芬河,SUF,suifenhe,sfh</string>
		<string>绥化,SUH,suihua,sh</string>
		<string>遂宁,SUN,suining,sn</string>
		<string>随州,SUZ,suizhou,sz</string>
		<string>宿迁,XIQ,suqian,sq</string>
		<string>苏州,SZV,suzhou,sz</string>
		<string>宿州,XIO,suzhou,sz</string>
	</array>
	<key>t</key>
	<array>
		<string>塔城,TCG,tacheng,tc</string>
		<string>泰安,TAA,taian,ta</string>
		<string>太仓,TAC,taicang,tc</string>
		<string>台山,TSA,taishan,ts</string>
		<string>泰顺,TSH,taishun,ts</string>
		<string>泰兴,TAX,taixing,tx</string>
		<string>太原,TYN,taiyuan,ty</string>
		<string>泰州,TZU,taizhou,tz</string>
		<string>台州,TAZ,taizhou,tz</string>
		<string>唐山,TAS,tangshan,ts</string>
		<string>腾冲,TCH,tengchong,tc</string>
		<string>天津,TSN,tianjin,tj</string>
		<string>天门,TIM,tianmen,tm</string>
		<string>天水,TIS,tianshui,ts</string>
		<string>天台,TTA,tiantai,tt</string>
		<string>天长,TIC,tianchang,tc</string>
		<string>天柱山,TZS,tianzhoushan,tzs</string>
		<string>铁力,TLI,tieli,tl</string>
		<string>铁岭,TIL,tieling,tl</string>
		<string>铜川,TOC,tonghua,th</string>
		<string>通化,TNH,tonghua,th</string>
		<string>同里,TOL,tongli,tl</string>
		<string>通辽,TGO,tongliao,tl</string>
		<string>铜陵,TOG,tongling,tl</string>
		<string>桐庐,TLU,tonglu,tl</string>
		<string>铜仁,TOR,tongren,tr</string>
		<string>桐乡,TOX,tongxiang,tx</string>
		<string>通什,TOS,tongshi,ts</string>
		<string>通洲,TOZ,tongzhou,tz</string>
		<string>吐鲁番,TUL,tulufan,tlf</string>
	</array>
	<key>w</key>
	<array>
		<string>万宁,WAN,wanning,wn</string>
		<string>潍坊,WEF,weifang,wf</string>
		<string>威海,WEH,weihai,wh</string>
		<string>渭南,WEN,weinan,wn</string>
		<string>文昌,WEC,wnechang,wc</string>
		<string>文登,WED,wendeng,wd</string>
		<string>温岭,WEG,wenling,wl</string>
		<string>温蛉,WEL,wneling,wl</string>
		<string>文山州,WES,wenshanzhou,wsz</string>
		<string>温州,WNZ,wenzhou,wz</string>
		<string>武当山,WDS,wudangshan,wds</string>
		<string>乌海,WHA,wuhai,wh</string>
		<string>武汉,WUH,wuhan,wh</string>
		<string>芜湖,WHU,wuhu,wh</string>
		<string>吴江,WJI,wjiang,wj</string>
		<string>武进,WUJ,wujin,wj</string>
		<string>乌兰察布,WLC,wulanchabu,wlcb</string>
		<string>乌兰浩特,HLH,wulanhaote,wlht</string>
		<string>乌鲁木齐,URC,wulumuqi,wlmq</string>
		<string>五台山,WTS,wutaishan,wts</string>
		<string>武威,WUW,weiwu,ww</string>
		<string>无锡,WUX,wuxi,wx</string>
		<string>武穴,WXI,wuxue,wx</string>
		<string>武义,WYI,wuyi,wy</string>
		<string>武夷山,WUS,wuyishan,wys</string>
		<string>婺源,WUY,wuyuan,wy</string>
		<string>五指山,XZS,wuzhishan,wzs</string>
		<string>吴忠,WZS,wuzhong,wz</string>
		<string>梧州,WUZ,wuzhou,wz</string>
	</array>
	<key>x</key>
	<array>
		<string>夏河,XHX,xiahe,xh</string>
		<string>厦门,XMN,xiamen,xm</string>
		<string>西安,SIA,xian,xa</string>
		<string>项城,XCH,xiangcheng,xc</string>
		<string>香港,HKG,xianggang,xg</string>
		<string>香格里拉,XIG,xianggelila,xgll</string>
		<string>象山,XSH,xiangshan,xs</string>
		<string>湘潭,XIT,xiangtan,xt</string>
		<string>襄阳,XFN,xiangyang,xy</string>
		<string>咸宁,XAN,xiannin,xn</string>
		<string>仙桃,XIA,xiatao,xt</string>
		<string>咸阳,XIY,xianyang,xy</string>
		<string>孝感,XGN,xiaogan,xg</string>
		<string>西昌,XIC,xichang,xc</string>
		<string>锡林浩特,XIL,xilinhaote,xlht</string>
		<string>新昌,XHA,xinchang,xc</string>
		<string>兴安,XGA,xingan,xa</string>
		<string>兴城,XEN,xingcheng,xc</string>
		<string>兴化市,XHS,xinghuashi,xhs</string>
		<string>邢台,XNT,xingtai,xt</string>
		<string>兴义,XYN,xingyi,xy</string>
		<string>新会,XIH,xinhui,xh</string>
		<string>西宁,XNN,xining,xn</string>
		<string>新密,XIM,xinmi,xm</string>
		<string>新乡,XIX.xinxiang,xx</string>
		<string>信阳,XYA,xinyang,xy</string>
		<string>新沂,XIN,xinyi,xy</string>
		<string>信宜,XYI,xinyi,xy</string>
		<string>新余,XYU,xinyu,xy</string>
		<string>忻州,XIU,xizhou,xz</string>
		<string>西双版纳,JHG,xishuangbanna,xsbn</string>
		<string>宣城,XUC,xuancheng,xc</string>
		<string>许昌,XCA,xuchang,xc</string>
		<string>盱眙,JHY,xuyi,xy</string>
		<string>徐州,XUZ,xuzhou,xz</string>
		<string>荥阳,XYG,xingyang,xy</string>
	</array>
	<key>y</key>
	<array>
		<string>雅安,YAA,yaan,ya</string>
		<string>亚布力,YBL,yabuli,ybl</string>
		<string>延安,ENY,yanan,ya</string>
		<string>盐城,YNZ,yancheng,yc</string>
		<string>雁荡山,YAD,yandangshan,yds</string>
		<string>阳春,YAC,yangchun,yc</string>
		<string>阳江,YAJ,yangjiang,yj</string>
		<string>阳泉,YAQ,yangquan,yq</string>
		<string>阳朔,YAH,yangshuo,ys</string>
		<string>扬中,YAZ,yangzhong,yz</string>
		<string>扬州,YZO,yanzghou,yz</string>
		<string>延吉,YNJ,yanji,yj</string>
		<string>偃师,YAS,yanshi,ys</string>
		<string>烟台,YNT,yantai,yt</string>
		<string>兖州,YZH,yanzhou,yz</string>
		<string>宜宾,YBP,yibin,yb</string>
		<string>宜昌,YIH,yichang,yc</string>
		<string>伊春,YCH,yichun,yc</string>
		<string>宜春,YIC,yichun,yc</string>
		<string>银川,INC,yinchuan,yc</string>
		<string>营口,YIK,yingkou,yk</string>
		<string>鹰潭,YIT,yingtan,yt</string>
		<string>伊宁,YIN,yining,yn</string>
		<string>义乌,YIW,yiwu,yw</string>
		<string>宜兴,YIX,yixing,yx</string>
		<string>益阳,YIY,yiyang,yy</string>
		<string>仪征,YIZ,yizheng,yz</string>
		<string>宜州,YZU,yizhou,yz</string>
		<string>永安,YOA,yongan,ya</string>
		<string>永嘉,YOJ,yongjia,yj</string>
		<string>永康,YOK,yongkang,yk</string>
		<string>永州,YOZ,yongzhou,yz</string>
		<string>岳阳,YUY,yueyang,yy</string>
		<string>榆林,UYN,yulin,yl</string>
		<string>玉林,YUL,yulin,yl</string>
		<string>玉门,YUM,yumen,lm</string>
		<string>运城,YUC,luncheng,lc</string>
		<string>云浮,YNF,yunfu,yf</string>
		<string>玉树州,YUS,yushu,ys</string>
		<string>玉溪,YUX,yuxi,yx</string>
		<string>余姚,YUA,yuyao,yy</string>
		<string>禹州,YUZ,yuzhou,yz</string>
	</array>
	<key>z</key>
	<array>
		<string>枣阳,ZAY,naoyang,ny</string>
		<string>枣庄,ZAZ,naozhuang,zz</string>
		<string>扎兰屯,ZHL,zhalantun,zlt</string>
		<string>张家港,ZHJ,zhangjiagang,zjg</string>
		<string>张家界,DYG,zhangjiajie,zjj</string>
		<string>张家口,ZJK,zhangjiakou,zjk</string>
		<string>漳平,ZHP,zhangping,zp</string>
		<string>章丘,ZQS,zhangqiu,zq</string>
		<string>张掖,ZHY,zhangye,zy</string>
		<string>漳州,ZHZ,zhangzhou,zz</string>
		<string>湛江,ZHA,zhanjiang,zj</string>
		<string>肇庆,ZHQ,zhaoqing,zq</string>
		<string>昭通,ZAT,zhaotong,zt</string>
		<string>郑州,CGO,zhengzhou,zz</string>
		<string>镇江,ZJA,zhengjiang,zj</string>
		<string>镇远,ZEY,zhenyuan,zy</string>
		<string>中山,ZIS,zhongshan,zs</string>
		<string>中卫,ZWS,zhongwei,zw</string>
		<string>钟祥,ZHX,zhongxiang,zx</string>
		<string>周口,ZHK,zhoukou,zk</string>
		<string>舟山,HSN,zhoushan,zs</string>
		<string>周庄,ZZS,zhouzhuang,zz</string>
		<string>诸城,ZHC,zhucheng,zc</string>
		<string>珠海,ZUH,zhuhai,zh</string>
		<string>诸暨,ZJI,zhuji,zj</string>
		<string>驻马店,ZHM,zhumadian,zmd</string>
		<string>涿州,ZHU,zhuzhou,zz</string>
		<string>株洲,ZHO,zhuzhou,zz</string>
		<string>淄博,ZIB,zibo,zb</string>
		<string>自贡,ZIG,zigong,zg</string>
		<string>资兴,ZIX,zixing,zx</string>
		<string>资阳,ZIY,ziyang,zy</string>
		<string>邹城,ZOC,zoucheng,zc</string>
		<string>遵化,ZHH,zunhua,zh</string>
		<string>遵义,ZYI,zunyi,zy</string>
	</array>
</dict>
</plist>
