<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>CityNameCn</key>
		<string>阿克苏</string>
		<key>CityNameJP</key>
		<string>aks</string>
		<key>CityNamePinyin</key>
		<string>akesu</string>
		<key>CityThreeSign</key>
		<string>AKU</string>
	</dict>
	<dict>
		<key>CityNameCn</key>
		<string>阿勒泰</string>
		<key>CityNameJP</key>
		<string>alt</string>
		<key>CityNamePinyin</key>
		<string>aletai</string>
		<key>CityThreeSign</key>
		<string>AAT</string>
	</dict>
	<dict>
		<key>CityNameCn</key>
		<string>安康</string>
		<key>CityNameJP</key>
		<string>ak</string>
		<key>CityNamePinyin</key>
		<string>ankang</string>
		<key>CityThreeSign</key>
		<string>AKA</string>
	</dict>
	<dict>
		<key>CityNameCn</key>
		<string>安庆</string>
		<key>CityNameJP</key>
		<string>aq</string>
		<key>CityNamePinyin</key>
		<string>anqing</string>
		<key>CityThreeSign</key>
		<string>AQG</string>
	</dict>
	<dict>
		<key>CityNameCn</key>
		<string>鞍山</string>
		<key>CityNameJP</key>
		<string>as</string>
		<key>CityNamePinyin</key>
		<string>anshan</string>
		<key>CityThreeSign</key>
		<string>AOG</string>
	</dict>
	<dict>
		<key>CityNameCn</key>
		<string>安阳</string>
		<key>CityNameJP</key>
		<string>ay</string>
		<key>CityNamePinyin</key>
		<string>anyang</string>
		<key>CityThreeSign</key>
		<string>AYN</string>
	</dict>
	<dict>
		<key>CityNameCn</key>
		<string>百色</string>
		<key>CityNameJP</key>
		<string>bs</string>
		<key>CityNamePinyin</key>
		<string>baise</string>
		<key>CityThreeSign</key>
		<string>AEB</string>
	</dict>
	<dict>
		<key>CityNameCn</key>
		<string>保山</string>
		<key>CityNameJP</key>
		<string>bs</string>
		<key>CityNamePinyin</key>
		<string>baoshan</string>
		<key>CityThreeSign</key>
		<string>BSD</string>
	</dict>
	<dict>
		<key>CityNameCn</key>
		<string>包头</string>
		<key>CityNameJP</key>
		<string>bt</string>
		<key>CityNamePinyin</key>
		<string>baotou</string>
		<key>CityThreeSign</key>
		<string>BAV</string>
	</dict>
	<dict>
		<key>CityNameCn</key>
		<string>北海</string>
		<key>CityNameJP</key>
		<string>bh</string>
		<key>CityNamePinyin</key>
		<string>beihai</string>
		<key>CityThreeSign</key>
		<string>BHY</string>
	</dict>
	<dict>
		<key>CityNameCn</key>
		<string>北京</string>
		<key>CityNameJP</key>
		<string>bj</string>
		<key>CityNamePinyin</key>
		<string>beijing</string>
		<key>CityThreeSign</key>
		<string>PEK</string>
	</dict>
	<dict>
		<key>CityNameCn</key>
		<string>蚌埠</string>
		<key>CityNameJP</key>
		<string>bb</string>
		<key>CityNamePinyin</key>
		<string>bengbu</string>
		<key>CityThreeSign</key>
		<string>BFU</string>
	</dict>
	<dict>
		<key>CityNameCn</key>
		<string>长白山</string>
		<key>CityNameJP</key>
		<string>cbs</string>
		<key>CityNamePinyin</key>
		<string>changbaishan</string>
		<key>CityThreeSign</key>
		<string>NBS</string>
	</dict>
	<dict>
		<key>CityNameCn</key>
		<string>长春</string>
		<key>CityNameJP</key>
		<string>cc</string>
		<key>CityNamePinyin</key>
		<string>changchun</string>
		<key>CityThreeSign</key>
		<string>CGQ</string>
	</dict>
	<dict>
		<key>CityNameCn</key>
		<string>常德</string>
		<key>CityNameJP</key>
		<string>cd</string>
		<key>CityNamePinyin</key>
		<string>changde</string>
		<key>CityThreeSign</key>
		<string>CGD</string>
	</dict>
	<dict>
		<key>CityNameCn</key>
		<string>昌都</string>
		<key>CityNameJP</key>
		<string>cd</string>
		<key>CityNamePinyin</key>
		<string>changdu</string>
		<key>CityThreeSign</key>
		<string>BPX</string>
	</dict>
	<dict>
		<key>CityNameCn</key>
		<string>长沙</string>
		<key>CityNameJP</key>
		<string>cs</string>
		<key>CityNamePinyin</key>
		<string>changsha</string>
		<key>CityThreeSign</key>
		<string>CSX</string>
	</dict>
	<dict>
		<key>CityNameCn</key>
		<string>长治</string>
		<key>CityNameJP</key>
		<string>cz</string>
		<key>CityNamePinyin</key>
		<string>changzhi</string>
		<key>CityThreeSign</key>
		<string>CIH</string>
	</dict>
	<dict>
		<key>CityNameCn</key>
		<string>常州</string>
		<key>CityNameJP</key>
		<string>cz</string>
		<key>CityNamePinyin</key>
		<string>changzhou</string>
		<key>CityThreeSign</key>
		<string>CZX</string>
	</dict>
	<dict>
		<key>CityNameCn</key>
		<string>朝阳</string>
		<key>CityNameJP</key>
		<string>cy</string>
		<key>CityNamePinyin</key>
		<string>chaoyang</string>
		<key>CityThreeSign</key>
		<string>CHG</string>
	</dict>
	<dict>
		<key>CityNameCn</key>
		<string>成都</string>
		<key>CityNameJP</key>
		<string>cd</string>
		<key>CityNamePinyin</key>
		<string>chengdu</string>
		<key>CityThreeSign</key>
		<string>CTU</string>
	</dict>
	<dict>
		<key>CityNameCn</key>
		<string>赤峰</string>
		<key>CityNameJP</key>
		<string>cf</string>
		<key>CityNamePinyin</key>
		<string>chifeng</string>
		<key>CityThreeSign</key>
		<string>CIF</string>
	</dict>
	<dict>
		<key>CityNameCn</key>
		<string>重庆</string>
		<key>CityNameJP</key>
		<string>cq</string>
		<key>CityNamePinyin</key>
		<string>chongqing</string>
		<key>CityThreeSign</key>
		<string>CKG</string>
	</dict>
	<dict>
		<key>CityNameCn</key>
		<string>大理</string>
		<key>CityNameJP</key>
		<string>dl</string>
		<key>CityNamePinyin</key>
		<string>dali</string>
		<key>CityThreeSign</key>
		<string>DLU</string>
	</dict>
	<dict>
		<key>CityNameCn</key>
		<string>大连</string>
		<key>CityNameJP</key>
		<string>dl</string>
		<key>CityNamePinyin</key>
		<string>dalian</string>
		<key>CityThreeSign</key>
		<string>DLC</string>
	</dict>
	<dict>
		<key>CityNameCn</key>
		<string>丹东</string>
		<key>CityNameJP</key>
		<string>dd</string>
		<key>CityNamePinyin</key>
		<string>dandong</string>
		<key>CityThreeSign</key>
		<string>DDG</string>
	</dict>
	<dict>
		<key>CityNameCn</key>
		<string>大庆</string>
		<key>CityNameJP</key>
		<string>dq</string>
		<key>CityNamePinyin</key>
		<string>daqing</string>
		<key>CityThreeSign</key>
		<string>DQA</string>
	</dict>
	<dict>
		<key>CityNameCn</key>
		<string>大同</string>
		<key>CityNameJP</key>
		<string>dt</string>
		<key>CityNamePinyin</key>
		<string>datong</string>
		<key>CityThreeSign</key>
		<string>DAT</string>
	</dict>
	<dict>
		<key>CityNameCn</key>
		<string>达县</string>
		<key>CityNameJP</key>
		<string>dx</string>
		<key>CityNamePinyin</key>
		<string>daxian</string>
		<key>CityThreeSign</key>
		<string>DAX</string>
	</dict>
	<dict>
		<key>CityNameCn</key>
		<string>芒市</string>
		<key>CityNameJP</key>
		<string>ms</string>
		<key>CityNamePinyin</key>
		<string>mangshi</string>
		<key>CityThreeSign</key>
		<string>LUM</string>
	</dict>
	<dict>
		<key>CityNameCn</key>
		<string>中甸</string>
		<key>CityNameJP</key>
		<string>zd</string>
		<key>CityNamePinyin</key>
		<string>zhongdian</string>
		<key>CityThreeSign</key>
		<string>DIG</string>
	</dict>
	<dict>
		<key>CityNameCn</key>
		<string>东营</string>
		<key>CityNameJP</key>
		<string>dy</string>
		<key>CityNamePinyin</key>
		<string>dongying</string>
		<key>CityThreeSign</key>
		<string>DOY</string>
	</dict>
	<dict>
		<key>CityNameCn</key>
		<string>敦煌</string>
		<key>CityNameJP</key>
		<string>dh</string>
		<key>CityNamePinyin</key>
		<string>dunhuang</string>
		<key>CityThreeSign</key>
		<string>DNH</string>
	</dict>
	<dict>
		<key>CityNameCn</key>
		<string>鄂尔多斯</string>
		<key>CityNameJP</key>
		<string>eds</string>
		<key>CityNamePinyin</key>
		<string>eerduosi</string>
		<key>CityThreeSign</key>
		<string>DSN</string>
	</dict>
	<dict>
		<key>CityNameCn</key>
		<string>恩施</string>
		<key>CityNameJP</key>
		<string>es</string>
		<key>CityNamePinyin</key>
		<string>enshi</string>
		<key>CityThreeSign</key>
		<string>ENH</string>
	</dict>
	<dict>
		<key>CityNameCn</key>
		<string>二连浩特</string>
		<key>CityNameJP</key>
		<string>elht</string>
		<key>CityNamePinyin</key>
		<string>erlianhaote</string>
		<key>CityThreeSign</key>
		<string>ERL</string>
	</dict>
	<dict>
		<key>CityNameCn</key>
		<string>佛山</string>
		<key>CityNameJP</key>
		<string>fs</string>
		<key>CityNamePinyin</key>
		<string>foshan</string>
		<key>CityThreeSign</key>
		<string>FUO</string>
	</dict>
	<dict>
		<key>CityNameCn</key>
		<string>阜阳</string>
		<key>CityNameJP</key>
		<string>fy</string>
		<key>CityNamePinyin</key>
		<string>fuyang</string>
		<key>CityThreeSign</key>
		<string>FUG</string>
	</dict>
	<dict>
		<key>CityNameCn</key>
		<string>富蕴</string>
		<key>CityNameJP</key>
		<string>fy</string>
		<key>CityNamePinyin</key>
		<string>fuyun</string>
		<key>CityThreeSign</key>
		<string>FYN</string>
	</dict>
	<dict>
		<key>CityNameCn</key>
		<string>福州</string>
		<key>CityNameJP</key>
		<string>fz</string>
		<key>CityNamePinyin</key>
		<string>fuzhou</string>
		<key>CityThreeSign</key>
		<string>FOC</string>
	</dict>
	<dict>
		<key>CityNameCn</key>
		<string>赣州</string>
		<key>CityNameJP</key>
		<string>gz</string>
		<key>CityNamePinyin</key>
		<string>ganzhou</string>
		<key>CityThreeSign</key>
		<string>KOW</string>
	</dict>
	<dict>
		<key>CityNameCn</key>
		<string>格尔木</string>
		<key>CityNameJP</key>
		<string>gem</string>
		<key>CityNamePinyin</key>
		<string>geermu</string>
		<key>CityThreeSign</key>
		<string>GOQ</string>
	</dict>
	<dict>
		<key>CityNameCn</key>
		<string>光化</string>
		<key>CityNameJP</key>
		<string>gh</string>
		<key>CityNamePinyin</key>
		<string>guanghua</string>
		<key>CityThreeSign</key>
		<string>LHK</string>
	</dict>
	<dict>
		<key>CityNameCn</key>
		<string>广汉</string>
		<key>CityNameJP</key>
		<string>gh</string>
		<key>CityNamePinyin</key>
		<string>guanghan</string>
		<key>CityThreeSign</key>
		<string>GHN</string>
	</dict>
	<dict>
		<key>CityNameCn</key>
		<string>广元</string>
		<key>CityNameJP</key>
		<string>gy</string>
		<key>CityNamePinyin</key>
		<string>guangyuan</string>
		<key>CityThreeSign</key>
		<string>GYS</string>
	</dict>
	<dict>
		<key>CityNameCn</key>
		<string>广州</string>
		<key>CityNameJP</key>
		<string>gz</string>
		<key>CityNamePinyin</key>
		<string>guangzhou</string>
		<key>CityThreeSign</key>
		<string>CAN</string>
	</dict>
	<dict>
		<key>CityNameCn</key>
		<string>桂林</string>
		<key>CityNameJP</key>
		<string>gl</string>
		<key>CityNamePinyin</key>
		<string>guilin</string>
		<key>CityThreeSign</key>
		<string>KWL</string>
	</dict>
	<dict>
		<key>CityNameCn</key>
		<string>贵阳</string>
		<key>CityNameJP</key>
		<string>gy</string>
		<key>CityNamePinyin</key>
		<string>guiyang</string>
		<key>CityThreeSign</key>
		<string>KWE</string>
	</dict>
	<dict>
		<key>CityNameCn</key>
		<string>哈尔滨</string>
		<key>CityNameJP</key>
		<string>heb</string>
		<key>CityNamePinyin</key>
		<string>haerbin</string>
		<key>CityThreeSign</key>
		<string>HRB</string>
	</dict>
	<dict>
		<key>CityNameCn</key>
		<string>海口</string>
		<key>CityNameJP</key>
		<string>hk</string>
		<key>CityNamePinyin</key>
		<string>haikou</string>
		<key>CityThreeSign</key>
		<string>HAK</string>
	</dict>
	<dict>
		<key>CityNameCn</key>
		<string>海拉尔</string>
		<key>CityNameJP</key>
		<string>hle</string>
		<key>CityNamePinyin</key>
		<string>hailaer</string>
		<key>CityThreeSign</key>
		<string>HLD</string>
	</dict>
	<dict>
		<key>CityNameCn</key>
		<string>哈密</string>
		<key>CityNameJP</key>
		<string>hm</string>
		<key>CityNamePinyin</key>
		<string>hami</string>
		<key>CityThreeSign</key>
		<string>HMI</string>
	</dict>
	<dict>
		<key>CityNameCn</key>
		<string>邯郸</string>
		<key>CityNameJP</key>
		<string>hd</string>
		<key>CityNamePinyin</key>
		<string>handan</string>
		<key>CityThreeSign</key>
		<string>HDG</string>
	</dict>
	<dict>
		<key>CityNameCn</key>
		<string>杭州</string>
		<key>CityNameJP</key>
		<string>hz</string>
		<key>CityNamePinyin</key>
		<string>hangzhou</string>
		<key>CityThreeSign</key>
		<string>HGH</string>
	</dict>
	<dict>
		<key>CityNameCn</key>
		<string>汉中</string>
		<key>CityNameJP</key>
		<string>hz</string>
		<key>CityNamePinyin</key>
		<string>hanzhong</string>
		<key>CityThreeSign</key>
		<string>HZG</string>
	</dict>
	<dict>
		<key>CityNameCn</key>
		<string>合肥</string>
		<key>CityNameJP</key>
		<string>hf</string>
		<key>CityNamePinyin</key>
		<string>hefei</string>
		<key>CityThreeSign</key>
		<string>HFE</string>
	</dict>
	<dict>
		<key>CityNameCn</key>
		<string>黑河</string>
		<key>CityNameJP</key>
		<string>hh</string>
		<key>CityNamePinyin</key>
		<string>heihe</string>
		<key>CityThreeSign</key>
		<string>HEK</string>
	</dict>
	<dict>
		<key>CityNameCn</key>
		<string>衡阳</string>
		<key>CityNameJP</key>
		<string>hy</string>
		<key>CityNamePinyin</key>
		<string>hengyang</string>
		<key>CityThreeSign</key>
		<string>HNY</string>
	</dict>
	<dict>
		<key>CityNameCn</key>
		<string>和田</string>
		<key>CityNameJP</key>
		<string>ht</string>
		<key>CityNamePinyin</key>
		<string>hetian</string>
		<key>CityThreeSign</key>
		<string>HTN</string>
	</dict>
	<dict>
		<key>CityNameCn</key>
		<string>芷江</string>
		<key>CityNameJP</key>
		<string>zj</string>
		<key>CityNamePinyin</key>
		<string>zhijiang</string>
		<key>CityThreeSign</key>
		<string>HJJ</string>
	</dict>
	<dict>
		<key>CityNameCn</key>
		<string>黄山</string>
		<key>CityNameJP</key>
		<string>hs</string>
		<key>CityNamePinyin</key>
		<string>huangshan</string>
		<key>CityThreeSign</key>
		<string>TXN</string>
	</dict>
	<dict>
		<key>CityNameCn</key>
		<string>台州</string>
		<key>CityNameJP</key>
		<string>tz</string>
		<key>CityNamePinyin</key>
		<string>taizhou</string>
		<key>CityThreeSign</key>
		<string>HYN</string>
	</dict>
	<dict>
		<key>CityNameCn</key>
		<string>呼和浩特</string>
		<key>CityNameJP</key>
		<string>hhht</string>
		<key>CityNamePinyin</key>
		<string>huhehaote</string>
		<key>CityThreeSign</key>
		<string>HET</string>
	</dict>
	<dict>
		<key>CityNameCn</key>
		<string>吉安</string>
		<key>CityNameJP</key>
		<string>ja</string>
		<key>CityNamePinyin</key>
		<string>jian</string>
		<key>CityThreeSign</key>
		<string>KNC</string>
	</dict>
	<dict>
		<key>CityNameCn</key>
		<string>佳木斯</string>
		<key>CityNameJP</key>
		<string>jms</string>
		<key>CityNamePinyin</key>
		<string>jiamusi</string>
		<key>CityThreeSign</key>
		<string>JMU</string>
	</dict>
	<dict>
		<key>CityNameCn</key>
		<string>嘉峪关</string>
		<key>CityNameJP</key>
		<string>jyg</string>
		<key>CityNamePinyin</key>
		<string>jiayuguan</string>
		<key>CityThreeSign</key>
		<string>JGN</string>
	</dict>
	<dict>
		<key>CityNameCn</key>
		<string>吉林</string>
		<key>CityNameJP</key>
		<string>jl</string>
		<key>CityNamePinyin</key>
		<string>jilin</string>
		<key>CityThreeSign</key>
		<string>JIL</string>
	</dict>
	<dict>
		<key>CityNameCn</key>
		<string>济南</string>
		<key>CityNameJP</key>
		<string>jn</string>
		<key>CityNamePinyin</key>
		<string>jinan</string>
		<key>CityThreeSign</key>
		<string>TNA</string>
	</dict>
	<dict>
		<key>CityNameCn</key>
		<string>景德镇</string>
		<key>CityNameJP</key>
		<string>jdz</string>
		<key>CityNamePinyin</key>
		<string>jingdezhen</string>
		<key>CityThreeSign</key>
		<string>JDZ</string>
	</dict>
	<dict>
		<key>CityNameCn</key>
		<string>井冈山</string>
		<key>CityNameJP</key>
		<string>jgs</string>
		<key>CityNamePinyin</key>
		<string>jinggangshan</string>
		<key>CityThreeSign</key>
		<string>JGS</string>
	</dict>
	<dict>
		<key>CityNameCn</key>
		<string>景洪西双版纳</string>
		<key>CityNameJP</key>
		<string>xsbn</string>
		<key>CityNamePinyin</key>
		<string>xishuangbanna</string>
		<key>CityThreeSign</key>
		<string>JHG</string>
	</dict>
	<dict>
		<key>CityNameCn</key>
		<string>济宁</string>
		<key>CityNameJP</key>
		<string>jn</string>
		<key>CityNamePinyin</key>
		<string>jining</string>
		<key>CityThreeSign</key>
		<string>JNG</string>
	</dict>
	<dict>
		<key>CityNameCn</key>
		<string>石狮</string>
		<key>CityNameJP</key>
		<string>ss</string>
		<key>CityNamePinyin</key>
		<string>shishi</string>
		<key>CityThreeSign</key>
		<string>JJN</string>
	</dict>
	<dict>
		<key>CityNameCn</key>
		<string>晋江</string>
		<key>CityNameJP</key>
		<string>jj</string>
		<key>CityNamePinyin</key>
		<string>jinjiang</string>
		<key>CityThreeSign</key>
		<string>JJN</string>
	</dict>
	<dict>
		<key>CityNameCn</key>
		<string>泉州</string>
		<key>CityNameJP</key>
		<string>qz</string>
		<key>CityNamePinyin</key>
		<string>quanzhou</string>
		<key>CityThreeSign</key>
		<string>JJN</string>
	</dict>
	<dict>
		<key>CityNameCn</key>
		<string>锦州</string>
		<key>CityNameJP</key>
		<string>jz</string>
		<key>CityNamePinyin</key>
		<string>jinzhou</string>
		<key>CityThreeSign</key>
		<string>JNZ</string>
	</dict>
	<dict>
		<key>CityNameCn</key>
		<string>九江</string>
		<key>CityNameJP</key>
		<string>jj</string>
		<key>CityNamePinyin</key>
		<string>jiujiang</string>
		<key>CityThreeSign</key>
		<string>JIU</string>
	</dict>
	<dict>
		<key>CityNameCn</key>
		<string>酒泉</string>
		<key>CityNameJP</key>
		<string>jq</string>
		<key>CityNamePinyin</key>
		<string>jiuquan</string>
		<key>CityThreeSign</key>
		<string>CHW</string>
	</dict>
	<dict>
		<key>CityNameCn</key>
		<string>九寨沟</string>
		<key>CityNameJP</key>
		<string>jzghl</string>
		<key>CityNamePinyin</key>
		<string>jiuzhaigou</string>
		<key>CityThreeSign</key>
		<string>JZH</string>
	</dict>
	<dict>
		<key>CityNameCn</key>
		<string>鸡西</string>
		<key>CityNameJP</key>
		<string>jx</string>
		<key>CityNamePinyin</key>
		<string>jixi</string>
		<key>CityThreeSign</key>
		<string>JXA</string>
	</dict>
	<dict>
		<key>CityNameCn</key>
		<string>喀纳斯</string>
		<key>CityNameJP</key>
		<string>kns</string>
		<key>CityNamePinyin</key>
		<string>kanaisi</string>
		<key>CityThreeSign</key>
		<string>KJI</string>
	</dict>
	<dict>
		<key>CityNameCn</key>
		<string>康定</string>
		<key>CityNameJP</key>
		<string>kd</string>
		<key>CityNamePinyin</key>
		<string>kangding </string>
		<key>CityThreeSign</key>
		<string>KGT</string>
	</dict>
	<dict>
		<key>CityNameCn</key>
		<string>喀什</string>
		<key>CityNameJP</key>
		<string>ks</string>
		<key>CityNamePinyin</key>
		<string>kashi</string>
		<key>CityThreeSign</key>
		<string>KHG</string>
	</dict>
	<dict>
		<key>CityNameCn</key>
		<string>克拉玛依</string>
		<key>CityNameJP</key>
		<string>klmy</string>
		<key>CityNamePinyin</key>
		<string>kelamayi</string>
		<key>CityThreeSign</key>
		<string>KRY</string>
	</dict>
	<dict>
		<key>CityNameCn</key>
		<string>库车</string>
		<key>CityNameJP</key>
		<string>kc</string>
		<key>CityNamePinyin</key>
		<string>kuche</string>
		<key>CityThreeSign</key>
		<string>KCA</string>
	</dict>
	<dict>
		<key>CityNameCn</key>
		<string>库尔勒</string>
		<key>CityNameJP</key>
		<string>kel</string>
		<key>CityNamePinyin</key>
		<string>kuerle</string>
		<key>CityThreeSign</key>
		<string>KRL</string>
	</dict>
	<dict>
		<key>CityNameCn</key>
		<string>昆明</string>
		<key>CityNameJP</key>
		<string>km</string>
		<key>CityNamePinyin</key>
		<string>kunming</string>
		<key>CityThreeSign</key>
		<string>KMG</string>
	</dict>
	<dict>
		<key>CityNameCn</key>
		<string>兰州</string>
		<key>CityNameJP</key>
		<string>lz</string>
		<key>CityNamePinyin</key>
		<string>lanzhou</string>
		<key>CityThreeSign</key>
		<string>LHW</string>
	</dict>
	<dict>
		<key>CityNameCn</key>
		<string>拉萨</string>
		<key>CityNameJP</key>
		<string>ls</string>
		<key>CityNamePinyin</key>
		<string>lasa</string>
		<key>CityThreeSign</key>
		<string>LXA</string>
	</dict>
	<dict>
		<key>CityNameCn</key>
		<string>连云港</string>
		<key>CityNameJP</key>
		<string>lyg</string>
		<key>CityNamePinyin</key>
		<string>lianyungang</string>
		<key>CityThreeSign</key>
		<string>LYG</string>
	</dict>
	<dict>
		<key>CityNameCn</key>
		<string>荔波</string>
		<key>CityNameJP</key>
		<string>lb</string>
		<key>CityNamePinyin</key>
		<string>libo</string>
		<key>CityThreeSign</key>
		<string>LLB</string>
	</dict>
	<dict>
		<key>CityNameCn</key>
		<string>丽江</string>
		<key>CityNameJP</key>
		<string>lj</string>
		<key>CityNamePinyin</key>
		<string>lijiang</string>
		<key>CityThreeSign</key>
		<string>LJG</string>
	</dict>
	<dict>
		<key>CityNameCn</key>
		<string>临沧</string>
		<key>CityNameJP</key>
		<string>lc</string>
		<key>CityNamePinyin</key>
		<string>lincang</string>
		<key>CityThreeSign</key>
		<string>LNJ</string>
	</dict>
	<dict>
		<key>CityNameCn</key>
		<string>林西</string>
		<key>CityNameJP</key>
		<string>lx</string>
		<key>CityNamePinyin</key>
		<string>linxi</string>
		<key>CityThreeSign</key>
		<string>LXI</string>
	</dict>
	<dict>
		<key>CityNameCn</key>
		<string>临沂</string>
		<key>CityNameJP</key>
		<string>ly</string>
		<key>CityNamePinyin</key>
		<string>linyi</string>
		<key>CityThreeSign</key>
		<string>LYI</string>
	</dict>
	<dict>
		<key>CityNameCn</key>
		<string>林芝</string>
		<key>CityNameJP</key>
		<string>lz</string>
		<key>CityNamePinyin</key>
		<string>linzhi</string>
		<key>CityThreeSign</key>
		<string>LZY</string>
	</dict>
	<dict>
		<key>CityNameCn</key>
		<string>黎平</string>
		<key>CityNameJP</key>
		<string>lp</string>
		<key>CityNamePinyin</key>
		<string>liping</string>
		<key>CityThreeSign</key>
		<string>HZH</string>
	</dict>
	<dict>
		<key>CityNameCn</key>
		<string>柳州</string>
		<key>CityNameJP</key>
		<string>lz</string>
		<key>CityNamePinyin</key>
		<string>liuzhou</string>
		<key>CityThreeSign</key>
		<string>LZH</string>
	</dict>
	<dict>
		<key>CityNameCn</key>
		<string>龙岩</string>
		<key>CityNameJP</key>
		<string>ly</string>
		<key>CityNamePinyin</key>
		<string>longyan</string>
		<key>CityThreeSign</key>
		<string>LCX</string>
	</dict>
	<dict>
		<key>CityNameCn</key>
		<string>洛阳</string>
		<key>CityNameJP</key>
		<string>ly</string>
		<key>CityNamePinyin</key>
		<string>luoyang</string>
		<key>CityThreeSign</key>
		<string>LYA</string>
	</dict>
	<dict>
		<key>CityNameCn</key>
		<string>泸州</string>
		<key>CityNameJP</key>
		<string>lz</string>
		<key>CityNamePinyin</key>
		<string>luzhou</string>
		<key>CityThreeSign</key>
		<string>LZO</string>
	</dict>
	<dict>
		<key>CityNameCn</key>
		<string>满洲里</string>
		<key>CityNameJP</key>
		<string>mzl</string>
		<key>CityNamePinyin</key>
		<string>manzhouli</string>
		<key>CityThreeSign</key>
		<string>NZH</string>
	</dict>
	<dict>
		<key>CityNameCn</key>
		<string>梅州</string>
		<key>CityNameJP</key>
		<string>mz</string>
		<key>CityNamePinyin</key>
		<string>meizhou</string>
		<key>CityThreeSign</key>
		<string>MXZ</string>
	</dict>
	<dict>
		<key>CityNameCn</key>
		<string>绵阳</string>
		<key>CityNameJP</key>
		<string>my</string>
		<key>CityNamePinyin</key>
		<string>mianyang</string>
		<key>CityThreeSign</key>
		<string>MIG</string>
	</dict>
	<dict>
		<key>CityNameCn</key>
		<string>漠河</string>
		<key>CityNameJP</key>
		<string>mh</string>
		<key>CityNamePinyin</key>
		<string>mohe</string>
		<key>CityThreeSign</key>
		<string>OHE</string>
	</dict>
	<dict>
		<key>CityNameCn</key>
		<string>牡丹江</string>
		<key>CityNameJP</key>
		<string>mdj</string>
		<key>CityNamePinyin</key>
		<string>mudanjiang</string>
		<key>CityThreeSign</key>
		<string>MDG</string>
	</dict>
	<dict>
		<key>CityNameCn</key>
		<string>那拉提</string>
		<key>CityNameJP</key>
		<string>nlt</string>
		<key>CityNamePinyin</key>
		<string>nalati</string>
		<key>CityThreeSign</key>
		<string>NLT</string>
	</dict>
	<dict>
		<key>CityNameCn</key>
		<string>南昌</string>
		<key>CityNameJP</key>
		<string>nc</string>
		<key>CityNamePinyin</key>
		<string>nanchang</string>
		<key>CityThreeSign</key>
		<string>KHN</string>
	</dict>
	<dict>
		<key>CityNameCn</key>
		<string>南充</string>
		<key>CityNameJP</key>
		<string>nc</string>
		<key>CityNamePinyin</key>
		<string>nanchong</string>
		<key>CityThreeSign</key>
		<string>NAO</string>
	</dict>
	<dict>
		<key>CityNameCn</key>
		<string>南京</string>
		<key>CityNameJP</key>
		<string>nj</string>
		<key>CityNamePinyin</key>
		<string>nanjing</string>
		<key>CityThreeSign</key>
		<string>NKG</string>
	</dict>
	<dict>
		<key>CityNameCn</key>
		<string>南宁</string>
		<key>CityNameJP</key>
		<string>nn</string>
		<key>CityNamePinyin</key>
		<string>nanning</string>
		<key>CityThreeSign</key>
		<string>NNG</string>
	</dict>
	<dict>
		<key>CityNameCn</key>
		<string>南通</string>
		<key>CityNameJP</key>
		<string>nt</string>
		<key>CityNamePinyin</key>
		<string>nantong</string>
		<key>CityThreeSign</key>
		<string>NTG</string>
	</dict>
	<dict>
		<key>CityNameCn</key>
		<string>南阳</string>
		<key>CityNameJP</key>
		<string>ny</string>
		<key>CityNamePinyin</key>
		<string>nanyang</string>
		<key>CityThreeSign</key>
		<string>NNY</string>
	</dict>
	<dict>
		<key>CityNameCn</key>
		<string>宁波</string>
		<key>CityNameJP</key>
		<string>nb</string>
		<key>CityNamePinyin</key>
		<string>ningbo</string>
		<key>CityThreeSign</key>
		<string>NGB</string>
	</dict>
	<dict>
		<key>CityNameCn</key>
		<string>攀枝花</string>
		<key>CityNameJP</key>
		<string>pzh</string>
		<key>CityNamePinyin</key>
		<string>panzhihua</string>
		<key>CityThreeSign</key>
		<string>PZI</string>
	</dict>
	<dict>
		<key>CityNameCn</key>
		<string>思茅</string>
		<key>CityNameJP</key>
		<string>sm</string>
		<key>CityNamePinyin</key>
		<string>simao</string>
		<key>CityThreeSign</key>
		<string>SYM</string>
	</dict>
	<dict>
		<key>CityNameCn</key>
		<string>且末</string>
		<key>CityNameJP</key>
		<string>qm</string>
		<key>CityNamePinyin</key>
		<string>qiemo</string>
		<key>CityThreeSign</key>
		<string>IQM</string>
	</dict>
	<dict>
		<key>CityNameCn</key>
		<string>青岛</string>
		<key>CityNameJP</key>
		<string>qd</string>
		<key>CityNamePinyin</key>
		<string>qingdao</string>
		<key>CityThreeSign</key>
		<string>TAO</string>
	</dict>
	<dict>
		<key>CityNameCn</key>
		<string>庆阳</string>
		<key>CityNameJP</key>
		<string>qy</string>
		<key>CityNamePinyin</key>
		<string>qingyang</string>
		<key>CityThreeSign</key>
		<string>IQN</string>
	</dict>
	<dict>
		<key>CityNameCn</key>
		<string>秦皇岛</string>
		<key>CityNameJP</key>
		<string>qhd</string>
		<key>CityNamePinyin</key>
		<string>qinhuangdao</string>
		<key>CityThreeSign</key>
		<string>SHP</string>
	</dict>
	<dict>
		<key>CityNameCn</key>
		<string>齐齐哈尔</string>
		<key>CityNameJP</key>
		<string>qqhe</string>
		<key>CityNamePinyin</key>
		<string>qiqihaer</string>
		<key>CityThreeSign</key>
		<string>NDG</string>
	</dict>
	<dict>
		<key>CityNameCn</key>
		<string>衢州</string>
		<key>CityNameJP</key>
		<string>jz</string>
		<key>CityNamePinyin</key>
		<string>quzhou</string>
		<key>CityThreeSign</key>
		<string>JUZ</string>
	</dict>
	<dict>
		<key>CityNameCn</key>
		<string>三亚</string>
		<key>CityNameJP</key>
		<string>sy</string>
		<key>CityNamePinyin</key>
		<string>sanya</string>
		<key>CityThreeSign</key>
		<string>SYX</string>
	</dict>
	<dict>
		<key>CityNameCn</key>
		<string>上海</string>
		<key>CityNameJP</key>
		<string>sh</string>
		<key>CityNamePinyin</key>
		<string>shanghai</string>
		<key>CityThreeSign</key>
		<string>SHA</string>
	</dict>
	<dict>
		<key>CityNameCn</key>
		<string>上海浦东</string>
		<key>CityNameJP</key>
		<string>shpd</string>
		<key>CityNamePinyin</key>
		<string>shanghaipudong</string>
		<key>CityThreeSign</key>
		<string>PVG</string>
	</dict>
	<dict>
		<key>CityNameCn</key>
		<string>揭阳</string>
		<key>CityNameJP</key>
		<string>jy</string>
		<key>CityNamePinyin</key>
		<string>jieyang</string>
		<key>CityThreeSign</key>
		<string>SWA</string>
	</dict>
	<dict>
		<key>CityNameCn</key>
		<string>沙市</string>
		<key>CityNameJP</key>
		<string>ss</string>
		<key>CityNamePinyin</key>
		<string>shashi</string>
		<key>CityThreeSign</key>
		<string>SHS</string>
	</dict>
	<dict>
		<key>CityNameCn</key>
		<string>沈阳</string>
		<key>CityNameJP</key>
		<string>sy</string>
		<key>CityNamePinyin</key>
		<string>shenyang</string>
		<key>CityThreeSign</key>
		<string>SHE</string>
	</dict>
	<dict>
		<key>CityNameCn</key>
		<string>深圳</string>
		<key>CityNameJP</key>
		<string>sz</string>
		<key>CityNamePinyin</key>
		<string>shenzhen</string>
		<key>CityThreeSign</key>
		<string>SZX</string>
	</dict>
	<dict>
		<key>CityNameCn</key>
		<string>石家庄</string>
		<key>CityNameJP</key>
		<string>sjz</string>
		<key>CityNamePinyin</key>
		<string>shijiazhuang</string>
		<key>CityThreeSign</key>
		<string>SJW</string>
	</dict>
	<dict>
		<key>CityNameCn</key>
		<string>苏州</string>
		<key>CityNameJP</key>
		<string>sz</string>
		<key>CityNamePinyin</key>
		<string>suzhou</string>
		<key>CityThreeSign</key>
		<string>SZV</string>
	</dict>
	<dict>
		<key>CityNameCn</key>
		<string>塔城</string>
		<key>CityNameJP</key>
		<string>tc</string>
		<key>CityNamePinyin</key>
		<string>tacheng</string>
		<key>CityThreeSign</key>
		<string>TCG</string>
	</dict>
	<dict>
		<key>CityNameCn</key>
		<string>太原</string>
		<key>CityNameJP</key>
		<string>ty</string>
		<key>CityNamePinyin</key>
		<string>taiyuan</string>
		<key>CityThreeSign</key>
		<string>TYN</string>
	</dict>
	<dict>
		<key>CityNameCn</key>
		<string>唐山</string>
		<key>CityNameJP</key>
		<string>ts</string>
		<key>CityNamePinyin</key>
		<string>tangshan</string>
		<key>CityThreeSign</key>
		<string>TVS</string>
	</dict>
	<dict>
		<key>CityNameCn</key>
		<string>腾冲</string>
		<key>CityNameJP</key>
		<string>tc</string>
		<key>CityNamePinyin</key>
		<string>tengchong</string>
		<key>CityThreeSign</key>
		<string>TCZ</string>
	</dict>
	<dict>
		<key>CityNameCn</key>
		<string>天津</string>
		<key>CityNameJP</key>
		<string>tj</string>
		<key>CityNamePinyin</key>
		<string>tianjin</string>
		<key>CityThreeSign</key>
		<string>TSN</string>
	</dict>
	<dict>
		<key>CityNameCn</key>
		<string>天水</string>
		<key>CityNameJP</key>
		<string>ts</string>
		<key>CityNamePinyin</key>
		<string>tianshui</string>
		<key>CityThreeSign</key>
		<string>THQ</string>
	</dict>
	<dict>
		<key>CityNameCn</key>
		<string>通化</string>
		<key>CityNameJP</key>
		<string>th</string>
		<key>CityNamePinyin</key>
		<string>tonghua</string>
		<key>CityThreeSign</key>
		<string>TNH</string>
	</dict>
	<dict>
		<key>CityNameCn</key>
		<string>通辽</string>
		<key>CityNameJP</key>
		<string>tl</string>
		<key>CityNamePinyin</key>
		<string>tongliao</string>
		<key>CityThreeSign</key>
		<string>TGO</string>
	</dict>
	<dict>
		<key>CityNameCn</key>
		<string>铜仁</string>
		<key>CityNameJP</key>
		<string>tr</string>
		<key>CityNamePinyin</key>
		<string>tongren</string>
		<key>CityThreeSign</key>
		<string>TEN</string>
	</dict>
	<dict>
		<key>CityNameCn</key>
		<string>万县</string>
		<key>CityNameJP</key>
		<string>wx</string>
		<key>CityNamePinyin</key>
		<string>wanxian</string>
		<key>CityThreeSign</key>
		<string>WXN</string>
	</dict>
	<dict>
		<key>CityNameCn</key>
		<string>潍坊</string>
		<key>CityNameJP</key>
		<string>wf</string>
		<key>CityNamePinyin</key>
		<string>weifang</string>
		<key>CityThreeSign</key>
		<string>WEF</string>
	</dict>
	<dict>
		<key>CityNameCn</key>
		<string>威海</string>
		<key>CityNameJP</key>
		<string>wh</string>
		<key>CityNamePinyin</key>
		<string>weihai</string>
		<key>CityThreeSign</key>
		<string>WEH</string>
	</dict>
	<dict>
		<key>CityNameCn</key>
		<string>文山</string>
		<key>CityNameJP</key>
		<string>ws</string>
		<key>CityNamePinyin</key>
		<string>wenshan</string>
		<key>CityThreeSign</key>
		<string>WNH</string>
	</dict>
	<dict>
		<key>CityNameCn</key>
		<string>温州</string>
		<key>CityNameJP</key>
		<string>wz</string>
		<key>CityNamePinyin</key>
		<string>wenzhou</string>
		<key>CityThreeSign</key>
		<string>WNZ</string>
	</dict>
	<dict>
		<key>CityNameCn</key>
		<string>乌海</string>
		<key>CityNameJP</key>
		<string>wh</string>
		<key>CityNamePinyin</key>
		<string>wuhai</string>
		<key>CityThreeSign</key>
		<string>WUA</string>
	</dict>
	<dict>
		<key>CityNameCn</key>
		<string>武汉</string>
		<key>CityNameJP</key>
		<string>wh</string>
		<key>CityNamePinyin</key>
		<string>wuhan</string>
		<key>CityThreeSign</key>
		<string>WUH</string>
	</dict>
	<dict>
		<key>CityNameCn</key>
		<string>芜湖</string>
		<key>CityNameJP</key>
		<string>wh</string>
		<key>CityNamePinyin</key>
		<string>wuhu</string>
		<key>CityThreeSign</key>
		<string>WHU</string>
	</dict>
	<dict>
		<key>CityNameCn</key>
		<string>乌兰浩特</string>
		<key>CityNameJP</key>
		<string>wlht</string>
		<key>CityNamePinyin</key>
		<string>wulanhaote</string>
		<key>CityThreeSign</key>
		<string>HLH</string>
	</dict>
	<dict>
		<key>CityNameCn</key>
		<string>乌鲁木齐</string>
		<key>CityNameJP</key>
		<string>wlmq</string>
		<key>CityNamePinyin</key>
		<string>wulumuqi</string>
		<key>CityThreeSign</key>
		<string>URC</string>
	</dict>
	<dict>
		<key>CityNameCn</key>
		<string>无锡</string>
		<key>CityNameJP</key>
		<string>wx</string>
		<key>CityNamePinyin</key>
		<string>wuxi</string>
		<key>CityThreeSign</key>
		<string>WUX</string>
	</dict>
	<dict>
		<key>CityNameCn</key>
		<string>武夷山</string>
		<key>CityNameJP</key>
		<string>wys</string>
		<key>CityNamePinyin</key>
		<string>wuyishan</string>
		<key>CityThreeSign</key>
		<string>WUS</string>
	</dict>
	<dict>
		<key>CityNameCn</key>
		<string>梧州</string>
		<key>CityNameJP</key>
		<string>wz</string>
		<key>CityNamePinyin</key>
		<string>wuzhou</string>
		<key>CityThreeSign</key>
		<string>WUZ</string>
	</dict>
	<dict>
		<key>CityNameCn</key>
		<string>厦门</string>
		<key>CityNameJP</key>
		<string>xm</string>
		<key>CityNamePinyin</key>
		<string>xiamen</string>
		<key>CityThreeSign</key>
		<string>XMN</string>
	</dict>
	<dict>
		<key>CityNameCn</key>
		<string>西安</string>
		<key>CityNameJP</key>
		<string>xa</string>
		<key>CityNamePinyin</key>
		<string>xian</string>
		<key>CityThreeSign</key>
		<string>XIY</string>
	</dict>
	<dict>
		<key>CityNameCn</key>
		<string>襄樊</string>
		<key>CityNameJP</key>
		<string>xf</string>
		<key>CityNamePinyin</key>
		<string>xiangfan</string>
		<key>CityThreeSign</key>
		<string>XFN</string>
	</dict>
	<dict>
		<key>CityNameCn</key>
		<string>湘潭</string>
		<key>CityNameJP</key>
		<string>xt</string>
		<key>CityNamePinyin</key>
		<string>xiangtan</string>
		<key>CityThreeSign</key>
		<string>XIT</string>
	</dict>
	<dict>
		<key>CityNameCn</key>
		<string>西昌</string>
		<key>CityNameJP</key>
		<string>xc</string>
		<key>CityNamePinyin</key>
		<string>xichang</string>
		<key>CityThreeSign</key>
		<string>XIC</string>
	</dict>
	<dict>
		<key>CityNameCn</key>
		<string>锡林浩特</string>
		<key>CityNameJP</key>
		<string>xlhts</string>
		<key>CityNamePinyin</key>
		<string>xilinhaote</string>
		<key>CityThreeSign</key>
		<string>XIL</string>
	</dict>
	<dict>
		<key>CityNameCn</key>
		<string>兴义</string>
		<key>CityNameJP</key>
		<string>xy</string>
		<key>CityNamePinyin</key>
		<string>xingyi</string>
		<key>CityThreeSign</key>
		<string>ACX</string>
	</dict>
	<dict>
		<key>CityNameCn</key>
		<string>西宁</string>
		<key>CityNameJP</key>
		<string>xn</string>
		<key>CityNamePinyin</key>
		<string>xining</string>
		<key>CityThreeSign</key>
		<string>XNN</string>
	</dict>
	<dict>
		<key>CityNameCn</key>
		<string>邢台</string>
		<key>CityNameJP</key>
		<string>xt</string>
		<key>CityNamePinyin</key>
		<string>xingtai</string>
		<key>CityThreeSign</key>
		<string>XNT</string>
	</dict>
	<dict>
		<key>CityNameCn</key>
		<string>徐州</string>
		<key>CityNameJP</key>
		<string>xz</string>
		<key>CityNamePinyin</key>
		<string>xuzhou</string>
		<key>CityThreeSign</key>
		<string>XUZ</string>
	</dict>
	<dict>
		<key>CityNameCn</key>
		<string>延安</string>
		<key>CityNameJP</key>
		<string>ya</string>
		<key>CityNamePinyin</key>
		<string>yanan</string>
		<key>CityThreeSign</key>
		<string>ENY</string>
	</dict>
	<dict>
		<key>CityNameCn</key>
		<string>盐城</string>
		<key>CityNameJP</key>
		<string>yc</string>
		<key>CityNamePinyin</key>
		<string>yancheng</string>
		<key>CityThreeSign</key>
		<string>YNZ</string>
	</dict>
	<dict>
		<key>CityNameCn</key>
		<string>延吉</string>
		<key>CityNameJP</key>
		<string>yj</string>
		<key>CityNamePinyin</key>
		<string>yanji</string>
		<key>CityThreeSign</key>
		<string>YNJ</string>
	</dict>
	<dict>
		<key>CityNameCn</key>
		<string>烟台</string>
		<key>CityNameJP</key>
		<string>yt</string>
		<key>CityNamePinyin</key>
		<string>yantai</string>
		<key>CityThreeSign</key>
		<string>YNT</string>
	</dict>
	<dict>
		<key>CityNameCn</key>
		<string>宜宾</string>
		<key>CityNameJP</key>
		<string>yb</string>
		<key>CityNamePinyin</key>
		<string>yibin</string>
		<key>CityThreeSign</key>
		<string>YBP</string>
	</dict>
	<dict>
		<key>CityNameCn</key>
		<string>宜昌</string>
		<key>CityNameJP</key>
		<string>yc</string>
		<key>CityNamePinyin</key>
		<string>yichang</string>
		<key>CityThreeSign</key>
		<string>YIH</string>
	</dict>
	<dict>
		<key>CityNameCn</key>
		<string>伊春</string>
		<key>CityNameJP</key>
		<string>yc</string>
		<key>CityNamePinyin</key>
		<string>yichun</string>
		<key>CityThreeSign</key>
		<string>LDS</string>
	</dict>
	<dict>
		<key>CityNameCn</key>
		<string>银川</string>
		<key>CityNameJP</key>
		<string>yc</string>
		<key>CityNamePinyin</key>
		<string>yinchuan</string>
		<key>CityThreeSign</key>
		<string>INC</string>
	</dict>
	<dict>
		<key>CityNameCn</key>
		<string>伊宁</string>
		<key>CityNameJP</key>
		<string>yn</string>
		<key>CityNamePinyin</key>
		<string>yining</string>
		<key>CityThreeSign</key>
		<string>YIN</string>
	</dict>
	<dict>
		<key>CityNameCn</key>
		<string>义乌</string>
		<key>CityNameJP</key>
		<string>yw</string>
		<key>CityNamePinyin</key>
		<string>yiwu</string>
		<key>CityThreeSign</key>
		<string>YIW</string>
	</dict>
	<dict>
		<key>CityNameCn</key>
		<string>永州</string>
		<key>CityNameJP</key>
		<string>yz</string>
		<key>CityNamePinyin</key>
		<string>yongzhou</string>
		<key>CityThreeSign</key>
		<string>LLF</string>
	</dict>
	<dict>
		<key>CityNameCn</key>
		<string>榆林</string>
		<key>CityNameJP</key>
		<string>yl</string>
		<key>CityNamePinyin</key>
		<string>yulin</string>
		<key>CityThreeSign</key>
		<string>UYN</string>
	</dict>
	<dict>
		<key>CityNameCn</key>
		<string>运城</string>
		<key>CityNameJP</key>
		<string>yc</string>
		<key>CityNamePinyin</key>
		<string>yuncheng</string>
		<key>CityThreeSign</key>
		<string>YCU</string>
	</dict>
	<dict>
		<key>CityNameCn</key>
		<string>玉树</string>
		<key>CityNameJP</key>
		<string>ys</string>
		<key>CityNamePinyin</key>
		<string>yushu</string>
		<key>CityThreeSign</key>
		<string>YUS</string>
	</dict>
	<dict>
		<key>CityNameCn</key>
		<string>张家界</string>
		<key>CityNameJP</key>
		<string>zjj</string>
		<key>CityNamePinyin</key>
		<string>zhangjiajie</string>
		<key>CityThreeSign</key>
		<string>DYG</string>
	</dict>
	<dict>
		<key>CityNameCn</key>
		<string>湛江</string>
		<key>CityNameJP</key>
		<string>zj</string>
		<key>CityNamePinyin</key>
		<string>zhanjiang</string>
		<key>CityThreeSign</key>
		<string>ZHA</string>
	</dict>
	<dict>
		<key>CityNameCn</key>
		<string>昭通</string>
		<key>CityNameJP</key>
		<string>zt</string>
		<key>CityNamePinyin</key>
		<string>zhaotong</string>
		<key>CityThreeSign</key>
		<string>ZAT</string>
	</dict>
	<dict>
		<key>CityNameCn</key>
		<string>郑州</string>
		<key>CityNameJP</key>
		<string>zz</string>
		<key>CityNamePinyin</key>
		<string>zhengzhou</string>
		<key>CityThreeSign</key>
		<string>CGO</string>
	</dict>
	<dict>
		<key>CityNameCn</key>
		<string>中卫</string>
		<key>CityNameJP</key>
		<string>zw</string>
		<key>CityNamePinyin</key>
		<string>zhongwei</string>
		<key>CityThreeSign</key>
		<string>ZHY</string>
	</dict>
	<dict>
		<key>CityNameCn</key>
		<string>舟山</string>
		<key>CityNameJP</key>
		<string>zs</string>
		<key>CityNamePinyin</key>
		<string>zhoushan</string>
		<key>CityThreeSign</key>
		<string>HSN</string>
	</dict>
	<dict>
		<key>CityNameCn</key>
		<string>珠海</string>
		<key>CityNameJP</key>
		<string>zh</string>
		<key>CityNamePinyin</key>
		<string>zhuhai</string>
		<key>CityThreeSign</key>
		<string>ZUH</string>
	</dict>
	<dict>
		<key>CityNameCn</key>
		<string>淮安</string>
		<key>CityNameJP</key>
		<string>ha</string>
		<key>CityNamePinyin</key>
		<string>huaian</string>
		<key>CityThreeSign</key>
		<string>HIA</string>
	</dict>
	<dict>
		<key>CityNameCn</key>
		<string>扬州</string>
		<key>CityNameJP</key>
		<string>yz</string>
		<key>CityNamePinyin</key>
		<string>yangzhou</string>
		<key>CityThreeSign</key>
		<string>YTY</string>
	</dict>
	<dict>
		<key>CityNameCn</key>
		<string>遵义</string>
		<key>CityNameJP</key>
		<string>zy</string>
		<key>CityNamePinyin</key>
		<string>zunyi</string>
		<key>CityThreeSign</key>
		<string>ZYI</string>
	</dict>
	<dict>
		<key>CityNameCn</key>
		<string>日喀则</string>
		<key>CityNameJP</key>
		<string>rkz</string>
		<key>CityNamePinyin</key>
		<string>rikaze</string>
		<key>CityThreeSign</key>
		<string>RKZ</string>
	</dict>
</array>
</plist>
